@media only screen and (max-width: 990px) and (min-width:450px) {
    /* #small  {
 position: relative;
 left: 150px;
 width: 100px;
 bottom: 50px;
 height: 50px;
 padding: 0;
display: block;

    }
  
     */
    #para{ 
        border: 1px solid yellow;
        justify-items: center;
        align-items: center;
        /* margin-left: 0;
        margin-right: 0; */
        /* display: flex; */
        justify-content: center;
        align-content: center;
    }
.btn-lg{
    display: none;

}
/* ............................. */
    
#main{
    /* height: 5007.33px; */
    background-image: url(bg.jpg);
    /* background-repeat: no-repeat; */
/* position: sticky; */
    background-position:top;
    /* background-size: contain; */
    background-attachment: scroll;
    background-size:  100% 1000px;
    width: 100vw;
  
}

.search{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    border: 1px solid red;
    justify-self: center;
    align-self: center;
}
#butt{
    display: flex;
    flex-wrap: wrap
    ;
    justify-content: space-around;
}

#div1{
  
    width: 200px;
    /* height: 60px; */
        }
#div2{
  
    width: 200px;
    /* height: 60px; */
        }
#div3{
    justify-content: center;
    justify-self: center;
    width: 600px;
    height: 60px;
    align-self: center;
    align-content: center;
        }
        #div3 a img{
            height: 40px;
            width: 30px;
        }
      
        .navbar{
            height: 80px;
        }

  }
  @media only screen and (min-width:900px){
    #small{
        display: none;
    }

  }
  










  /* ........................ */
 
    #main{

        min-height: 800px;
        /* border: 5px solid red; */
        width: auto;
        background-size: 100% 100%;
        /* max-height: 30vh; */
        /* height: 00px; */
      
    }


  @media only screen and (max-width:450px){



    body{
        /*
         display: flex;
        flex-direction: column;
        /* min-width: 375px; */
        /* justify-content: center;  */
        width: fit-content;
        
         /* border: 2px solid blue; */
    }
    .btn-lg{
        display: none;
    
    }

.navbar-toggler-icon{
    /* position: absolute;
    top: 50px;
    left: 450px; */
   height: 80px;
   width: 80px;
}
#brand{
    font-size: 5rem;
}

#para{
/* border: 2px solid red; */
width: 90%;
font-size: 7rem;
line-height: 6rem;
/* padding-right: 0px; */
min-height: 400px;
/* font-size: 40px; */
box-sizing: border-box;
align-self: center;


} 
   #main{
    background-image: url(bg-small.jpg);
    background-size: 100% 100% ;
    /* background-position: left; */
    overflow: hidden;
    background-attachment: scroll;
   
    min-height: 400px;
    /* border: 2px solid red; */
display: flex;
margin-left: 0;
margin-right: 0;
flex-direction: column;
justify-content: center;
justify-self: center;
align-content: center;
align-self: center;
   } 

.nav-link
{
    font-size: 30px;
}
  #search,.search,.butt{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 18px;
    margin-right: 18px;
    /* border: 1px solid red; */


  }
  .tool{
    align-self: center;
  }
  #search{
    font-size: 35px;
  }
.search{
    width: 90%;
    margin-bottom: 40px;
}

  .search ,#div1,#div2,#div3{
    height: 120px;
    align-content: center;
  }
#div1,
#div2{
    width: 350px;
}
#div3{
    width: 100%;
    /* font-size: 30px; */
    /* height: 57px; */
    justify-content: center;
    align-items: center;
    align-content: center;
    /* font-size: ; */
   margin-left: 0;
   margin-right: 0;
}
.div a{
    font-size:35px;
}
#dd{
    height: 65px;
    width: 65px;
    /* border: 1px solid yellow; */
}


.butt{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  #cards{
    display: flex;
    flex-direction: column;
  }
  #what{
    font-size: 7rem;
  }
  .card{
    /* border: 1px solid green; */
   justify-self: center;
   display: flex;
   flex-direction: row;
   height: 200px;
   margin-bottom: 80px;
   margin-top: 80px;

    
  }
  .card img{width:15rem;}
  .card-body{
    height: 200px;
  min-width: 45rem;
 padding-left: 120px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 2.3rem;
    
  }
  .card-body h5{
    font-size: 3rem;
  }



.down{

   display: flex;
   
}

#buttons{
    display: flex;
    /* flex-direction: column; */
    width: 70%;
}
#buttons a button{
  font-size: 30px;
  overflow: hidden;
}
   #com{
    font-size: 40px;
   }

   .foot{
    width: 140px;
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right: 20px;
   }
}
